<template>
    <div class="login">
        <h1>Se connecter</h1>
        <form class="login-form">
            <p>Renseignez au choix votre nom d'utilisateur ou votre adresse mail</p>
            <label for="username">Nom d'utilisateur:</label><br>
            <input type="text" id="username" name="username" v-model="formUsername"><br>

            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" v-model="formEmail"><br>

            <label for="password">Mot de passe:</label><br>
            <input type="text" id="password" name="password" v-model="formPassword"><br>

            <a href="#" @click="send">Se connecter</a>
        </form>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Login',
  components: {
  },
  methods :{
    send(e) {
      var vm = this;
      axios.post(`http://localhost:3000/login`, {
          username: vm.formUsername,
          email: vm.formEmail,
          password: vm.formPassword,
      }).then(function (response) {
            console.log(response);
         })
      this.$router.go(0);
      this.resetField();   

      e.preventDefault();
    },
    resetField() {
      this.formCommentUsername = '';
      this.formCommentMail = '';
      this.formCommentText = '';
    },
  },
  data() {
      return {
        formUsername: '',
        formEmail: '',
        formPassword: '',
      }
  }
};
</script>

<style scoped>
    .home {
        background-color: #3B3F48;
        width: 100%;
        min-height: 100%;
        display: flex;
    }
    .login-form{
        font-size: 26px;
    }
</style>
