<template>
    <div class="news">
      <Content
        :title="article.title"
        :text="article.text"
        :imagePath="article.image_url"
        :author="article.author"
        :createdDate="article.date"
        :note="article.note"
        :name="article.name"
        :category="article.category"
      />
    </div>
</template>

<script>


import Content from '@/components/commons/content/Content.vue';
import axios from 'axios';

export default {
  name: 'GamesIndex',
  components: {
    Content,
  },
   mounted() {
      axios.get(`http://localhost:3000/game/${this.$route.params.id}`)
        .then((getResponse) =>{
           this.article = getResponse.data;
        })
  },
  data() {
    return {
      article: {},
    };
  },
};
</script>

<style scoped>
    .home {
        background-color: #3B3F48;
        width: 100%;
    }
</style>
