<template>
    <div class="register">
        <h1>Créer votre compte</h1>
        <form class="register-form">
            <label for="username">Nom d'utilisateur:</label><br>
            <input type="text" id="username" name="username" v-model="formUsername"><br>

            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" v-model="formEmail"><br>

            <label for="password">Mot de passe:</label><br>
            <input type="text" id="password" name="password" v-model="formPassword"><br>

            <label for="name">Nom:</label><br>
            <input type="text" id="name" name="name" v-model="formName"><br>

            <label for="firstname">Prénom:</label><br>
            <input type="text" id="firstname" name="firstname" v-model="formFirstname"><br>

            <label for="birthdate">Date: (aaaa-mm-jj)</label><br>
            <input type="text" id="birthdate" name="birthdate" v-model="formBirthdate"><br>

            <label for="roles">Rôles: (admin ou member)</label><br>
            <input type="text" id="roles" name="roles" v-model="formRoles"><br>

            <a href="#" @click="send">Créer le compte</a>
        </form>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Register',
  components: {
  },
  methods :{
    send(e) {
      var vm = this;
      axios.post(`http://localhost:3000/register`, {
          username: vm.formUsername,
          email: vm.formEmail,
          password: vm.formPassword,
          name: vm.formName,
          firstname: vm.formFirstname,
          birthdate: vm.formBirthdate,
          roles: [vm.formRoles],
      }).then(function (response) {
            console.log(response);
         })
      this.$router.go(0);
      this.resetField();   

      e.preventDefault();
    },
    resetField() {
      this.formCommentUsername = '';
      this.formCommentMail = '';
      this.formCommentText = '';
    },
  },
  data() {
      return {
        formUsername: '',
        formEmail: '',
        formPassword: '',
        formName: '',
        formFirstname: '',
        formBirthdate: '',
        formRoles: '',
      }
  }
};
</script>

<style scoped>
    .home {
        background-color: #3B3F48;
        width: 100%;
        min-height: 100%;
        display: flex;
    }
    .register-form{
        font-size: 26px;
    }
</style>
