<template>
<div class="home-parent-container">
  <div class="content-grid">
    <div class="item"
      v-for="article in list"
      v-bind:key="article.id"
    >
      <Item
        :id="article.id"
        :bannerPath="article.image_url"
        :title="article.title"
        :note="article.note"
      />
    </div>
  </div>
   <div class="menu">
    <ul>
        <li><a @click="displayRPG">RPG</a></li>
        <li><a @click="displayMMO">MMO</a></li>    
        <li><a @click="displayFPS">FPS/TPS</a></li>    
        <li><a @click="displayRTS">RTS</a></li>
        <li><a @click="displayALL">All</a></li>    
    </ul>
  </div>
</div>
</template>

<script>
import Item from '@/components/commons/content/grid/Item.vue';
import axios from 'axios';

export default {
  name: 'ContentGrid',
  components: {
    Item,
  },
  methods: {
    displayRPG(e){
      this.list = this.rpg;
      e.preventDefault();
    },
    displayMMO(e){
      this.list = this.mmo;
      e.preventDefault();
    },
    displayFPS(e){
      this.list = this.fps;
      e.preventDefault();
    },
    displayRTS(e){
      this.list = this.rts;
      e.preventDefault();
    },
    displayALL(e){
      this.list = this.all;
      e.preventDefault();
    },
  },
  mounted() {
      axios.get('http://localhost:3000/games')
        .then((getResponse) =>{
           this.list = getResponse.data;
           this.all = this.list;
            for(var i = 0; i < this.list.length; ++i){
              switch(this.list[i].category){
              case "RPG":
                this.rpg.push(this.list[i]);
                break;
              case "MMO":
                this.mmo.push(this.list[i]);
                break;
              case "FPS":
                this.fps.push(this.list[i]);
                break;
              case "RTS":
                this.rts.push(this.list[i]);
                break;
            }
        }
        })
        
  },
  data() {
    return {
      articles: [],
      all: [],
      list: [],
      rpg: [],
      mmo: [],
      fps: [],
      rts: [],
    };
  },
};
</script>

<style>
  .home-parent-container{
    display: flex;
  }
  .content-grid {
    display: flex;
    flex-wrap: wrap;
    color:white;

    justify-content: center;

    padding-left: 20px;
    padding-right: 20px;
  }

  .content-grid .item {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1024px) {
    .content-grid .item {
      width: calc(46% - 40px);
    }
  }

  @media screen and (min-width: 1280px) {
    .content-grid .item {
      width: calc(33.333% - 40px);
    }
  }


  .menu {
      background-color: gray;
      font-size: 26px;
  }
  .menu ul {
      padding-right: 6px;
  }
  .menu a {
      text-decoration: none;
      cursor: pointer;
  }
</style>
