<template>
  <div class="content-header">
    <div class="content-header-title">
      <h1>{{ title }}</h1>
      <h4>Note : {{ note }} - {{ name }} - Catégorie : {{ category }}</h4>
    </div>
    <div class="content-header-image" :style="imageStyle"></div>
    <div class="content-header-subtitle">
      <div class="author">
        Par {{author}}
      </div>
      <div class="date">
        Le {{ createdDate }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContentHeader',
  props: {
    title: String,
    imagePath: String,
    author: String,
    createdDate: String,
    note: String, 
    category: String,
    name: String,
  },
  updated(){
    this.imageUrl = require(`@/assets/${this.imagePath}`);
  },
  data() {
    return {
      imageUrl: null,
    };
  },
  computed: {
    imageStyle() {
      if (this.imageUrl) {
        return { 'background-image': `url("${this.imageUrl}")` };
      }
      return { 'background-color': 'red' };
    },
  },
};
</script>

<style scoped>
.content-header {
  width: 100%;
}

.content-header .content-header-title {
  text-align: center;
  font-size: 30px;
}

.content-header .content-header-image {
  /*background-image: url("~@/assets/image_article_1.jpg");*/
  background-position: center;
  padding-top: 600px;
}

.content-header .content-header-subtitle {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;

  font-size: 1.5em;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
}
</style>
