<template>
  <div class="content">
    <div class="separator">
      <div class="separator-border"></div>
    </div>
    <ContentHeader
      :title="title"
      :imagePath="imagePath"
      :author="author"
      :createdDate="createdDate"
      :note="note"
      :name="name"
      :category="category"
    />
    <ContentArticle v-bind:text="text" 
      :note="note"
      :name="name"
      :category="category"/>
    <ContentComment />
  </div>
</template>

<script>
import ContentHeader from '@/components/commons/content/ContentHeader.vue';
import ContentArticle from '@/components/commons/content/ContentArticle.vue';
import ContentComment from '@/components/commons/content/ContentComment.vue';

export default {
  name: 'Content',
  components: {
    ContentArticle,
    ContentHeader,
    ContentComment,
  },
  props: {
    text: String,
    title: String,
    imagePath: String,
    author: String,
    createdDate: String,
    name: String,
    note: String,
    category: String,
  },
};
</script>

<style scoped>
.content .separator {
  width: 100%;
  box-sizing: border-box;
  padding-left: 80px;
  padding-right: 80px;
}

.content .separator .separator-border {
  border-top: black solid 1px;
}
</style>
