<template>
  <div class="content-article">
     <div v-html="text"></div>
     <h4>Note : {{ note }} - {{ name }} - Catégorie : {{ category }}</h4>
  </div>
</template>

<script>
export default {
  name: 'ContentArticle',
  props: {
    text: String,
    note: String, 
    category: String,
    name: String,
  },
};
</script>

<style scoped>
    .content-article {
        padding : 40px;
        font-size: 1.8em;
    }
    h4{
        text-align: center;
    }
</style>
