<template>
    <div class="create_game">
        <h1>Ecrire un test</h1>
        <form class="create-game-form">
            <label for="title">Titre:</label><br>
            <input type="text" id="title" name="title" v-model="formTitle"><br>
            <label for="text">Texte</label><br>
            <textarea rows="16" cols="100" id="text" name="text" v-model="formText"/><br>
            <label for="author">Auteur</label><br>
            <input type="text" id="author" name="author" v-model="formAuthor"><br>
            <label for="date">Date - (dd/mm/aaaa)</label><br>
            <input type="text" id="date" name="date" v-model="formDate"><br>
            <label for="name">Nom du jeu</label><br>
            <input type="text" id="name" name="name" v-model="formName"><br>
            <label for="note">Note du jeu - (ex : 16/20)</label><br>
            <input type="text" id="note" name="note" v-model="formNote"><br>
            <label for="category">Catégorie (RPG/FPS/RTS/MMO)</label><br>
            <input type="text" id="category" name="category" v-model="formCategory"><br>
            <a href="#" @click="send">Créer le test</a>
        </form>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'CreateGame',
  components: {
  },
  methods :{
    send(e) {
      var vm = this;
      axios.put(`http://localhost:3000/game`, {
          title: vm.formTitle,
          text: vm.formText,
          author: vm.formAuthor,
          date: vm.formDate,
          name: vm.formName,
          category: vm.formCategory,
          note: vm.formNote,
      })
      this.resetField();
      this.$router.go(0);   

      e.preventDefault();
    },
    resetField() {
      this.formCommentUsername = '';
      this.formCommentMail = '';
      this.formCommentText = '';
    },
  },
  data() {
      return {
        formTitle: '',
        formText: '',
        formAuthor: '',
        formDate: '',
        formName: '',
        formCategory: '',
        formNote: '',
      }
  }
};
</script>

<style scoped>
    .home {
        background-color: #3B3F48;
        width: 100%;
        min-height: 100%;
        display: flex;
    }
    .create-game-form{
        font-size: 26px;
    }
</style>
