<template>
  <div class="menu">
    <ul>
        <li><a>RPG</a></li>
        <li><a>MMO</a></li>    
        <li><a>FPS/TPS</a></li>    
        <li><a>RTS</a></li>    
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  props: {
  },
};
</script>

<style>
  .menu {
      background-color: gray;
      font-size: 26px;
  }
  .menu ul {
      padding-right: 6px;
  }
  .menu a {
      text-decoration: none;
      cursor: pointer;
  }
</style>
