<template>
  <div class="header-menu">
    <div class="links">
      <a href="/login">Se connecter</a>
      <a href="/register">Créer un compte</a>
      <a href="/create-game-test">Ecrire un test</a>
      <a href="/">TESTS</a>
    </div>
    <div class="user">US</div>
  </div>
</template>

<script>
export default {
  name: 'HeaderMenu',
};
</script>

<style scoped>
.header-menu {
  display: flex;
  align-items: center;
}

.header-menu > .user {
  margin-left: 20px;
  margin-right: 5px;
  background-color: cornflowerblue;
  padding: 20px;

  border-radius: 60px;
}

.header-menu > .links a {
  margin-left: 10px;
  margin-right: 10px;

  font-size: 20px;
}
</style>
